:root{
    --rojo-principal: #C62828;
    --rojo-oscuro: #8E0000;
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #eeeeee;
    --gris-claro: #f5f5f5;
    --amarillo: #ffd600;
}

section[id] {
    scroll-margin-top: 110px;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General */
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--negro);
    overflow-x: hidden;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* NAV */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: var(--rojo-principal);
    color: var(--blanco);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.nav-second-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.social-icons{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px 10px;
}
.nav-second{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.background-social{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 0;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}
.background-social:hover{
    transform: translateY(-3px) scale(1.05);
}
.background-social:nth-child(1):hover{
    background-color: #3B5998;
}
.background-social:nth-child(2):hover{
    background-color: #9D7144;
}
.background-social:nth-child(3):hover{
    background-color: #000000;
}
.background-social:nth-child(4):hover{
    background-color: #1ACF5D;
}
.social-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 10px;
    height: 15px;
    font-size: 17px;
}
.nav-second .contenido{
    color: var(--blanco);
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.nav-second .contenido:hover{
    color: var(--negro);
    text-decoration: underline;
}
.nav-second .contenido img{
    justify-content: center;
}
.nav-second .contenido span{
    align-items: center;
}

/* Logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.logo .texto{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
}
.logo .texto .nombre{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}
.logo img{
    width: 50px;
}

/* Contenido */
.contenedor{
    width: 90%;
    max-width: 1200px;
    padding: 50px 0;
    margin: auto;
}
.titulo-seccion{
    margin: 100px 0 50px;
}
/* Botones */
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.nav a{
    font-size: 13px;
    background-color: #fcfcfc;
    color: var(--negro);
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.nav a:hover{
    background-color: var(--rojo-principal);
    color: var(--blanco);
}

.contenido{
    text-align: center;
}
.posicion {
    margin-bottom: 50px;
}

.posicion h3 {
    font-size: 2rem;
    color: #e53935;
    border-left: 4px solid #e53935;
    padding-left: 15px;
    margin-bottom: 20px;
}

.titulo-seccion{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: var(--rojo-oscuro);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 100px 0 40px;
    position: relative;
}

.titulo-seccion::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 5px;
    background: linear-gradient(to right, #e53935, #000);
    border-radius: 5px;
}
/* CARD */
.grid-jugadores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}
.jugador{
    background: linear-gradient(to top, #851919, #ffbaba);
    width: auto;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}
.jugador:hover {
    transform: translateY(-5px);
}
.jugador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.jugador::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%; /* ajusta según necesites */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    pointer-events: none; /* no bloquea clics */
}
.dorsal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 80px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.35); /* 👈 negro transparente */
    z-index: 0; /* queda detrás del degradado */
    pointer-events: none;
    user-select: none;
}
.jugador h4,
.jugador p {
    position: absolute;
    left: 10px;
    z-index: 2;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.jugador h4{
    font-size: 20px;
    margin: 15px 0 10px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.jugador p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--blanco);
    bottom: 10px;
    left: 50%;
    transform: translateY(-100%);
    transform: translateX(-50%);
}

/*REDES*/
.redes-h3{
    display: flex;
    color: var(--blanco);
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
}
.redes{
    display: flex;
    background: #333333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 0;
}
.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}
.redes-container img{
    width: 30px;
}
.rs{
    min-width: 130px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: transform 0.3s;
    cursor: pointer;
}
.rs:hover{
    transform: scale(1.03);
    border: 3px solid #2e270b;
}
.facebook{
    background-color: #3B5998;
}
.instagram{
    background:linear-gradient(to bottom,#3E5897, #BF4690, #F9B265)
}
.tiktok{
    background-color: #000000;
}
.whatsapp{
    background-color: #1ACF5D;
}
.rs-logo{
    margin-bottom: 12px;
}
.descripcion{
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    font-weight: 600;
}
.descripcion span:nth-child(1){
    font-size: .8rem;
}
.descripcion span:nth-child(2){
    font-size: .95rem;
}
/*FOOTER*/

.copy{
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 15px;
}